.image:before {
    background: unset;
}

.thumb {
    border: 1px solid #ebebeb;
}

a {
    color: #b4bfbc;
}

a.callout-link {
    color: #49bf9d;
}

.experience-header {
    display: flex;
}

.experience-date {
    margin: 5px 0 0 auto;
}

@media (max-width: 736px) {
    .experience-header {
        flex-direction: column;
    }

    .experience-title {
        margin-bottom: 5px;
    }

    .experience-date {
        margin: 0 0 20px 0;
    }
}

.attr-footer {
    display: flex;
    width: 100%;
}

.attr-note {
    margin-left: auto;
    font-size: 12px;
    color: rgb(200, 200, 200);
}

.attr-note a {
    color: inherit;
    border-bottom: 0;
}

.light-em {
    color: #b8b8b8;
}

li.spaced-li {
    margin-top: 1em;
}

.mb-0 {
    margin-bottom: 0;
}

.bolder {
    font-weight: 600;
}