/* don't artificially restrict width */
#main {
    max-width: unset;
}

/* remove section dividers */
#main > section {
    border-top: none;
}

/* Experience section */
.experience-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-date {
    margin: 0;
}

.experience-title {
    margin-bottom: 0;
}

@media (max-width: 736px) {
    .experience-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .experience-title {
        margin-bottom: 5px;
    }
}


/* Projects section */
.image:before {
    background: unset;
}

.thumb {
    border: 1px solid #ebebeb;
}


/* Footer section */
.attr-footer {
    display: flex;
    width: 100%;
}

.attr-note {
    margin-left: auto;
    font-size: 12px;
    color: rgb(200, 200, 200);
}

.attr-note a {
    color: inherit;
    border-bottom: 0;
}


/* Utils/misc */
a {
    color: #b4bfbc;
}

a.callout-link {
    color: #49bf9d;
}

.light-em {
    color: #b8b8b8;
}

li.spaced-li {
    margin-top: 1em;
}

.mb-0 {
    margin-bottom: 0;
}

.bolder {
    font-weight: 600;
}

.para-begin-emoji {
    margin-right: 10px;
}
